<html>
    <head>
        <title>파일 업로드</title>
        <script>
        </script>
    </head>
    <body>
        <form
            action='http://localhost:3000/uploads'
            method='post'
            enctype='multipart/form-data'
        >
            <input type='file' name='myImageName' id='file' />
            <button type='submit'>이미지 업로드하기</button>
        </form>
    </body>
</html>